{% extends "base.html" %}

{% block title %}Home - CockTail Maker{% endblock %}

{% block content %}
<div class="container text-center">
  <h1 class="mb-4">CockTail Maker</h1>
  <p class="mb-5">Select Tutorial Below or Test Your Knowledge!</p>

  <div class="row">
    <!-- Explore Cocktails Card (now links to tutorials) -->
    <div class="col-md-4">
      <a href="/tutorials" class="text-decoration-none">
        <div class="card shadow-sm">
          <img src="{{ url_for('static', filename='images/cocktail.jpg') }}" class="card-img-top"
            alt="Explore Cocktails">
          <div class="card-body">
            <h5 class="card-title">Explore Cocktails</h5>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-4">
      <a href="/cocktail/2/step/1" class="text-decoration-none">
        <div class="card shadow-sm">
          <img src="{{ url_for('static', filename='images/ts1.jpg') }}" class="card-img-top" alt="Test Yourself">
          <div class="card-body">
            <h5 class="card-title">Test Yourself</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}