{% extends "base.html" %}

{% block title %}Quiz - CockTail Maker{% endblock %}

{% block content %}
<div id="learn-section" class="container text-center">
  <h1 class="mb-4">CockTail Maker - Quiz</h1>
  <p class="mb-5">Select a Cocktail Quiz to Start!</p>
  <div class="row">
    <div class="col-md-4">
      <div class="card shadow-sm">
        <img src="{{ url_for('static', filename='images/long_island_home.png') }}" class="card-img-top"
          alt="Long Island Iced Tea">
        <div class="card-body">
          <h5 class="card-title">Long Island Iced Tea</h5>
        </div>
        <a href="/cocktail/1/quiz" class="start-quiz-button">Start Quiz</a>
      </div>
      </a>
    </div>
    <div class="col-md-4">
      <div class="card shadow-sm">
        <img src="{{ url_for('static', filename='images/espresso_martini_home.png') }}" class="card-img-top"
          alt="Espresso Martini">
        <div class="card-body">
          <h5 class="card-title">Espresso Martini</h5>
        </div>
        <a href="/cocktail/2/quiz" class="start-quiz-button">Start Quiz</a>
      </div>
      </a>
    </div>
    <div class="col-md-4">
      <div class="card shadow-sm">
        <img src="{{ url_for('static', filename='images/aperol_spritz_home.png') }}" class="card-img-top"
          alt="Aperol Spritz">
        <div class="card-body">
          <h5 class="card-title">Aperol Spritz</h5>
        </div>
        <a href="/cocktail/3/quiz" class="start-quiz-button">Start Quiz</a>
      </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}