{% extends "base.html" %}

{% block title %}Cocktail Tutorials{% endblock %}

{% block content %}
<div id="learn-section" class="container text-center">
  <h1 class="mb-4">CockTail Maker</h1>
  <p class="mb-5">Select Tutorial Below!</p>

  <div class="row">
    {% for cocktail in cocktails %}
    <div class="col-md-4">
      <a href="/cocktail/{{ cocktail.id }}/step/1" class="text-decoration-none">
        <div class="card shadow-sm">
          <img src="{{ url_for('static', filename=cocktail.image) }}" class="card-img-top" alt="{{ cocktail.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ cocktail.name }}</h5>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}